<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- for Text-to-Speech API on Android SDK 21+ or 22+ or 23+ probably -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- start app -->
    <uses-permission android:name="android.permission.Ad_ID" />
    <uses-permission android:name="android.permission.AD_ID" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".LinkedApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:imeOptions="flagNoExtractUi|actionSearch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute">

        <!-- Fix for crash [ Didn't find class "org.apache.http.ProtocolVersion" ]-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- Shortcuts for Bubbles API -->
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <activity
            android:name=".Main"
            android:allowEmbedded="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:imeOptions="flagNoExtractUi|actionSearch"
            android:launchMode="singleInstance"
            android:maxRecents="1"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".helpers.TextProcessHelper"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstancePerTask"
            android:maxRecents="1"
            android:noHistory="true"
            android:theme="@style/AppTheme.CompletelyTransparent">

            <!-- Filter for Bubbles API -->
            <intent-filter>
                <category android:name="awais.linkedwords.bubbles.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <!-- Search Intent Filter -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
            </intent-filter>

            <!-- Search Intent Filter -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Selection Toolbar Filter -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.PROCESS_TEXT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TTSActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:imeOptions="flagNoExtractUi|actionDone"
            android:inputType="numberSigned"
            android:label="@string/tts_settings"
            android:launchMode="singleTop"
            android:maxRecents="1" />

        <activity
            android:name=".helpers.other.WebViewActivity"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <!-- AppLovin -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/apl_SDK_KEY" />
        <!-- StartApp -->
        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="@string/startio_APP_ID" />
        <meta-data
            android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
            android:value="false" />
    </application>
</manifest>