<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="awais.backworddictionary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <application android:allowBackup="true" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:imeOptions="flagNoExtractUi|actionSearch"
        android:windowSoftInputMode="adjustResize" android:hardwareAccelerated="true"
        android:name=".LinkedApp" android:fullBackupContent="@xml/backup_descriptor">

        <activity android:name=".Main" android:theme="@style/AppTheme" android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- App Indexing -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="rerolledgeek.blogspot.com" />
                <data android:scheme="https" />
            </intent-filter>

            <!-- Search Filter -->
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name=".customweb.WebViewActivity" android:parentActivityName=".Main"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Main" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid" />
    </application>
</manifest>