<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="awais.backworddictionary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk tools:overrideLibrary="com.keiferstone.nonet" />

    <application android:allowBackup="true" android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true" android:theme="@style/AppTheme" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:imeOptions="flagNoExtractUi|actionSearch"
        android:windowSoftInputMode="adjustResize" android:hardwareAccelerated="true"
        android:fullBackupContent="false" android:name="android.support.multidex.MultiDexApplication" >

        <activity android:name="awais.backworddictionary.Main" android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".customweb.WebViewActivity" android:parentActivityName=".Main"
            tools:ignore="UnusedAttribute">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Main" />
        </activity>
    </application>

</manifest>